@use "./_variables.scss" as *;

@mixin flex($align: center, $justify: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}
