@use "../../styles/partials/__variables" as *;

.ThemePackList {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  margin: $padding-xl 0;

  &__heading-wrapper {
    display: flex;
    flex-direction: row;
    width: 1164px;
  }
}
