li{
    list-style: none;
}

.premium{
    &--subheading-logo-container{
        display: flex;
        justify-content: space-between;
    }
    
    // &--netflixCard{
    //     display: none;
    // }
}