.H1 {
    font-family: Helvetica;
    font-size: 34px;
}

.H2 {
    font-family: Helvetica;
    font-size: 30px;
}

.H3 {
    font-family: Helvetica;
    font-size: 24px;
}

.H4 {
    font-family: Helvetica;
    font-size: 20px;
}
