@use "../../styles/partials/__mixins" as *;
@use "../../styles/partials/__utils" as *;
@use "../../styles/partials/__variables" as *;

.footer {
    position: fixed;
    width: 100vw;
    background-color: white;
    bottom: 0;
    padding: 1rem 0;

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__button {
        height: 2rem;
        width: 8rem;
        background-color: $color-telus-green;
        border: none;
        border-radius: 5px;
        color: white;
    }
    &__info {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        & * {
            margin-right: 1rem;
        }
    }
    &__discount {
        text-decoration: line-through;
        color: $color-telus-dark-grey;
        font-size: 1.5rem;
    }
}
