@use "../../styles/partials/__variables" as *;
@use "../../styles/partials/__mixins" as *;
@use "../../styles/partials/__utils" as *;

.themePack {
  display: flex;
  flex-direction: column;
  width: 1160px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 11px;
  align-items: center;
  padding-top: $padding-m;
  padding-bottom: $padding-m;

  &--active {
    border: 2px solid $color-telus-green;
  }

  &__top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1040px;
    margin-bottom: $padding-l;

  }

  &__card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1040px;
    gap: $padding-xxs;
    
  }

  &__bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1040px;
    margin-top: $padding-m;
  }
}

.card-container {
  &__card {
    object-fit: cover;
    overflow: hidden;
    border-radius: 14px;
    display: grid;
    grid-template-areas: "pile";
    place-items: start end;

    &--selected {
      outline: 2px solid $color-telus-green;
    }
  }
}

.card {
  
  &__checkbox {
    right: 0;
    margin-right: $padding-xs;
    grid-area: pile;
    z-index: 2;
    margin-top: $padding-xs;
    accent-color: $color-telus-green;
  }

  &__img {
    z-index: 1;
    grid-area: pile;
  }

  &__logo {
    z-index: 2;
    grid-area: pile;
    margin: auto;
    margin-bottom: 25%;
  }


}

.bottom-container{

  &__price {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    gap: $padding-m;
  }
}

.price {
  &__amount {
    font-size: 48px;
  }

  &__month {
    font-size: 16px;
    text-transform: lowercase;
  }
}

.buttons {
  &__cancel-button {
    border: none;
    background: none;
    color: $color-telus-black;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: $padding-xxxs;
    border-radius: 12px;
  }

  &__confirm-button {
    border: none;
    background: $color-telus-green;
    padding-left: $padding-xxl;
    padding-right: $padding-xxl;

    padding-top: $padding-xs;
    padding-bottom: $padding-xs;
    border-radius: 12px;

    &:hover {
      filter: brightness(50%);
    }
  }
}